<nb-layout>
  <nb-layout-header fixed>
    <div class="header">
      <h2>{{"header-title" | translate}}</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p> {{"select-language" | translate}} </p>
      &nbsp;&nbsp;
      <app-switch-lang></app-switch-lang>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <h2>{{"appName" | translate}} </h2>

    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <ul>
        <li>
          <a routerLink="/general/select" routerLinkActive="active" ariaCurrentWhenActive="page">{{"usersInfo" |
            translate}}</a>
        </li>
        <li>
          <a routerLink="/general/graficas" routerLinkActive="active" ariaCurrentWhenActive="page">{{"charts" |
            translate}}</a>
        </li>
        <li>
          <a routerLink="/general/unsuscribe" routerLinkActive="active" ariaCurrentWhenActive="page">{{"deleteAccount" |
            translate}}</a>
        </li>
        <li>
          <a routerLink="/general/payment" routerLinkActive="active" ariaCurrentWhenActive="page">{{"pay" |
            translate}}</a>
        </li>
        <li>
          <a routerLink="/general/messages" routerLinkActive="active" ariaCurrentWhenActive="page">{{"messages" |
            translate}}</a>
        </li>
        <li>
          <a routerLink="/general/withdrawal" routerLinkActive="active" ariaCurrentWhenActive="page">{{"withdrawal" |
            translate}}</a>
        </li>
      </ul>
    </nav>
    <hr />
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed> Copyright &copy; 2022 </nb-layout-footer>
</nb-layout>
