<nb-layout hasScroll="true">
  <nb-layout-header fixed> Test </nb-layout-header>

  <nb-layout-column>
    <h2>Angular Router App</h2>
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <ul>
        <li>
          <a routerLink="/general/select" routerLinkActive="active" ariaCurrentWhenActive="page">Users Info</a>
        </li>
        <li>
          <a routerLink="/general/graficas" routerLinkActive="active" ariaCurrentWhenActive="page">Graficas</a>
        </li>
        <li>
          <a routerLink="/general/unsuscribe" routerLinkActive="active" ariaCurrentWhenActive="page">Retirarse</a>
        </li>
        <li>
          <a routerLink="/general/payment" routerLinkActive="active" ariaCurrentWhenActive="page">Pagar</a>
        </li>
        <li>
          <a routerLink="/general/visa" routerLinkActive="active" ariaCurrentWhenActive="page">Pagar con visa</a>
        </li>
      </ul>
    </nav>
    <hr />
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed> Copyright &copy; 2022 </nb-layout-footer>
</nb-layout>