<div class="container">
    <h1 class="form-title">Visa Data Registration</h1>
    <div class="visaCard-and-form">
        <div class="dots-and-card">
            <div class="payment-dots">
                <svg width="65" height="115" viewBox="0 0 65 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="17.5" cy="2.5" r="2.5" fill="#E0ECF7" />
                    <circle cx="32.5" cy="2.5" r="2.5" fill="#E0ECF7" />
                    <circle cx="47.5" cy="2.5" r="2.5" fill="#E0ECF7" />
                    <circle cx="2.5" cy="2.5" r="2.5" fill="#E0ECF7" />
                    <circle cx="17.5" cy="12.5" r="2.5" transform="rotate(90 17.5 12.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="12.5" r="2.5" transform="rotate(90 32.5 12.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="12.5" r="2.5" transform="rotate(90 47.5 12.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="42.5" r="2.5" transform="rotate(90 17.5 42.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="62.5" r="2.5" transform="rotate(90 47.5 62.5)" fill="#E0ECF7" />
                    <circle cx="62.5" cy="2.5" r="2.5" transform="rotate(90 62.5 2.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="82.5" r="2.5" transform="rotate(90 47.5 82.5)" fill="#E0ECF7" />
                    <circle cx="62.5" cy="22.5" r="2.5" transform="rotate(90 62.5 22.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="42.5" r="2.5" transform="rotate(90 47.5 42.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="42.5" r="2.5" transform="rotate(90 32.5 42.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="62.5" r="2.5" transform="rotate(90 32.5 62.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="22.5" r="2.5" transform="rotate(90 17.5 22.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="22.5" r="2.5" transform="rotate(90 32.5 22.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="22.5" r="2.5" transform="rotate(90 47.5 22.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="52.5" r="2.5" transform="rotate(90 17.5 52.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="72.5" r="2.5" transform="rotate(90 17.5 72.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="72.5" r="2.5" transform="rotate(90 47.5 72.5)" fill="#E0ECF7" />
                    <circle cx="62.5" cy="12.5" r="2.5" transform="rotate(90 62.5 12.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="92.5" r="2.5" transform="rotate(90 47.5 92.5)" fill="#E0ECF7" />
                    <circle cx="62.5" cy="32.5" r="2.5" transform="rotate(90 62.5 32.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="52.5" r="2.5" transform="rotate(90 47.5 52.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="52.5" r="2.5" transform="rotate(90 32.5 52.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="32.5" r="2.5" transform="rotate(90 17.5 32.5)" fill="#E0ECF7" />
                    <circle cx="32.5" cy="32.5" r="2.5" transform="rotate(90 32.5 32.5)" fill="#E0ECF7" />
                    <circle cx="47.5" cy="32.5" r="2.5" transform="rotate(90 47.5 32.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="62.5" r="2.5" transform="rotate(90 17.5 62.5)" fill="#E0ECF7" />
                    <circle cx="17.5" cy="82.5" r="2.5" transform="rotate(90 17.5 82.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="92.5" r="2.5" transform="rotate(90 2.5 92.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="112.5" r="2.5" transform="rotate(90 2.5 112.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="72.5" r="2.5" transform="rotate(90 2.5 72.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="82.5" r="2.5" transform="rotate(90 2.5 82.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="102.5" r="2.5" transform="rotate(90 2.5 102.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="12.5" r="2.5" transform="rotate(90 2.5 12.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="42.5" r="2.5" transform="rotate(90 2.5 42.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="22.5" r="2.5" transform="rotate(90 2.5 22.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="52.5" r="2.5" transform="rotate(90 2.5 52.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="32.5" r="2.5" transform="rotate(90 2.5 32.5)" fill="#E0ECF7" />
                    <circle cx="2.5" cy="62.5" r="2.5" transform="rotate(90 2.5 62.5)" fill="#E0ECF7" />
                </svg>
            </div>
            <div class="card">
                <div class="card-logo">
                    <img src="https://cdn-icons-png.flaticon.com/128/196/196578.png" alt="visa-logo">
                </div>

                <div class="card-number">0000&nbsp;0000&nbsp;0000&nbsp;0000</div>

                <div class="cardName-cardExp">
                    <div class="card-name">
                        <h3>Card Holder</h3>
                        <p id="card-name">Mrs Kate Smith</p>
                    </div>
                    <div class="card-expiry">
                        <h3>Valid Thru</h3>
                        <p>
                            <span id="month">MM</span>/<span id="year">YY</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-data">
            <form>
                <h6>Payment Details</h6>
                <hr>
                <br>
                <div class="form-name form-detail">
                    <label for="name">Cardholder Name</label>
                    <input #cardHolderName type="text" placeholder="Mrs Kate Smith" id="name" maxlength="24">
                    <div class="alert" id="alert-1">
                        Full name required
                    </div>
                </div>
                <br>
                <div class="form-number form-detail">
                    <label for="number">Card Number</label>
                    <input #cardNumber type="text" placeholder="0000 0000 0000 0000" id="number"
                        onkeypress="return isNumeric(event)">
                    <div class="alert" id="alert-2">
                        Invalid card number
                    </div>
                </div>
                <br>
                <div class="form-exp-and-cvv">
                    <div class="form-expiry form-detail">
                        <label for="date">Exp Date</label>
                        <input #expDate type="text" placeholder="MM/YY" id="date" onkeypress="return isNumeric(event)">
                        <div class="alert" id="alert-3">
                            Invalid date
                        </div>
                    </div>

                    <div class="form-cvv form-detail">
                        <label for="cvv">CVV
                        </label>
                        <input #cvv type="password" placeholder="0000" id="cvv" maxlength="4"
                            onkeypress="return isNumeric(event)">
                        <div class="alert" id="alert-4">
                            Invalid CVV
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="buttons">
                        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
                        <button class="submit" status="success" (click)="submit(cardHolderName.value)">Submit</button>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>