<h4>{{"users.title" | translate}}</h4>

<nb-card class="own-scroll" size="medium" accent="success" [nbSpinner]="loading" nbSpinnerStatus="success"
  nbSpinnerSize="large">
  <nb-card-header>
    <span>{{"users.search" | translate}}</span>
    <nb-select [selected]="type" placeholder="{{'users.placeholder' | translate}}"
      (selectedChange)="getUser($event); type = $event">
      <nb-option placement="right" *ngFor="let user of appUsers" value="{{ user.username }}" [attr.title]="user.name">{{
        user.username }}
      </nb-option>
    </nb-select>
    <nb-user *ngIf="this.nameUser" [name]="nameUser" [title]="nameEmail">
    </nb-user>
  </nb-card-header>
  <nb-list nbInfiniteList [threshold]="500" class="user-activity-list" *ngIf="this.selectedUser">
    <nb-list-item *ngFor="let item of selectedUser">
      <div class="date">
        {{ item.modelo }}
      </div>
      <div class="visited-pages-count">
        <div class="caption">{{"users.brand" | translate}}</div>
        <div class="value">{{ item.marca }}</div>
      </div>

      <div class="visited-pages-count">
        <div class="caption">{{"users.color" | translate}}</div>
        <div class="value">{{ item.color }}</div>
      </div>

      <div class="visited-pages-count">
        <div class="caption">{{"users.otherInfo" | translate}}</div>
        <div class="value">{{ item.marca }}</div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
